@model IEnumerable<Order>

@{
    ViewData["Title"] = "Pending Order List";
}
<h2 class="display-6">@ViewData["Title"]</h2>
<table class="table">
    <thead>
        <tr>
            <th>Order ID</th>
            <th>User ID</th>
            <th>Total Cost</th>
            <th>Total Paid</th>
            <th>Order Date</th>
            <th></th>
            <th>Mark as Roasted</th>
            <th>Mark as Delivered</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var order in Model)
            {
                <tr>
                    <td>@order.Id</td>
                    <td>@order.UserId</td>
                    <td>@order.TotalCost</td>
                    <td>@order.TotalPaid</td>
                    <td>@order.OrderDate.ToShortDateString()</td>
                    <td>
                        <a asp-controller="Order" asp-action="OrderDetail" asp-route-id="@order.Id">Details</a>
                    </td>
                    <td>
                        @if(order.OrderStatus=="Awaiting Roaster")
                        {
                            <form asp-action="PendingOrderRoasted" method="post">
                                <input type="hidden" name="orderId" value="@order.Id" />
                                <button type="submit" class="btn btn-primary">Roasted</button>
                            </form>
                        }
                        </td>
                        <td>
                        @if (order.OrderStatus != "Roasted and Delivered")
                        {
                            <form asp-action="PendingOrderDelivered" method="post">
                                <input type="hidden" name="orderId" value="@order.Id" />
                                <button type="submit" class="btn btn-primary">Delivered</button>
                            </form>
                        }
                    </td>
                </tr>
            }
        }
        else
        {
            <p>No pending orders found.</p>
        }
       
    </tbody>
</table>
