@model CreateItemViewModel
@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Create Order";
}

<h1>Create Order</h1>

    <div class="row">
        <div class="col-md-6">
            <form asp-controller="Order" asp-action="CreateItem" method="post">
            <div class="form-group">
                <label>Select Coffee:</label>
                <select class="form-control" id="coffeeSelect" asp-for="OriginTypeId"> @* Replace asp-for with name if not working *@
                    @foreach (var coffee in ViewBag.AvailableOriginTypes)
                    {
                        <option value="@coffee.OriginTypeId">@coffee.Country - @coffee.SupplierNotes</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label>Select Roast Type:</label>
                <select class="form-control" id="roastSelect" asp-for="RoastTypeId">
                    @foreach (var roastType in ViewBag.AvailableRoastTypes)
                    {
                        <option value="@roastType.RoastTypeId">@roastType.Description</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <label>Oz Quantity:</label><br />
                <div class="form-check">
                    <input class="form-check-input" type="radio" asp-for="OzQuantity" value="8" checked>
                    <label class="form-check-label" asp-for="OzQuantity">8</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" asp-for="OzQuantity" value="15">
                    <label class="form-check-label" asp-for="OzQuantity">15</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" asp-for="OzQuantity" value="28">
                    <label class="form-check-label" asp-for="OzQuantity">25</label>
                </div>
            </div>


            <button type="submit" name="submitType" value="addToOrder" class="btn btn-primary">Add to Order</button>

            </form>
        </div>

        <div class="col-md-6">
            <div id="orderItemsBox" class="border p-2">
                <h4>Order Items</h4>
                <ul id="orderItemsList">
                @if (Model.OrderItems != null)
                {
                    foreach (var item in Model.OrderItems)
                    {
                        <li style="display: flex;">Origin Id:@item.OriginType.Country - @item.OzQuantity oz. - $@item.Subtotal &nbsp;
                            <form asp-controller="Order" asp-action="RemoveOrderItem" method="post">
                                <input type="hidden" name="originTypeId" value="@item.OriginTypeId" />
                                <input type="hidden" name="roastId" value="@item.RoastTypeId" />
                                <input type="hidden" name="ozQuantity" value="@item.OzQuantity" />
                                <button type="submit" class="btn btn-danger btn-sm">X</button>
                            </form>
                        </li>
                    }
                } 
                </ul>
            </div>
        </div>
    </div>
    <form asp-action="CreateOrder" asp-controller="Order">
        <button type="submit" name="submitType" value="CreateOrder" class="btn btn-success">Create Order</button>
        <a href="@Url.Action("Index", "Order")" class="btn btn-secondary">Cancel</a>
    </form>
    
