@model IEnumerable<AppsDevCoffee.Models.Order> 

<h1>List of Orders</h1>

<table class="table">
    <thead>
        <tr>
            <th>Order ID</th>
            <th>User ID</th>
            <th>Total Cost</th>
            <th>Total Paid</th>
            <th>Order Date</th>
            <th>Paid Date</th>
            <th>Order Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td>@order.Id</td>
                <td>@order.UserId</td>
                <td>@order.TotalCost</td>
                <td>
                    @if (order.TotalPaid < 1)
                    {
                        <a asp-action="OrderPayment" asp-route-id="@order.Id">$0.00 - Pay Now</a>
                    }
                    else
                    {
                        @order.TotalPaid
                    }
                    
                </td>
                <td>@order.OrderDate</td>
                <td>@order.PaidDate</td>
                <td>@order.OrderStatus</td>
                <td>
                    <a asp-action="OrderDetail" asp-route-id="@order.Id">Details</a>
                    @if (User.HasClaim("UserTypeId", "1"))@*If admin, show additional options*@
                    {
                    <a asp-action="Edit" asp-route-id="@order.Id">Edit</a> 
                    <a asp-action="Delete" asp-route-id="@order.Id">Delete</a>
                    }
                    <a asp-action="Index">Cancel</a>
                </td>
            </tr>
        }
    </tbody>
</table>
